@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Nanum+Gothic&display=swap');

.articlesList {
    font-family: 'Nanum Gothic', sans-serif;
}

label {
    margin-right: 20px
}

select {
    margin-left: 5px;
    padding: 3px;
}
