#newCommentBody {
    width: 90% ;
}
textarea {
    width: 100%;
    height: 30vh;
    text-align: start; 
    padding: 10px;
    border: 2px solid;
    font-size: clamp(12.8px, 1.2vw, 80px);
}


.comment-adder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comment-error-message {
    color: rgb(215, 41, 41);
}

#comment-success-message {
    background-color: #000000;
    color: white;
    padding: 5px;
    border: 4px solid;
    /* border-color: rgb(208, 190, 202); */
    border-radius: 10px;
    /* box-shadow: -3px -2px 20px rgb(212, 117, 177); */
    
}