.comments-list {
    margin: 0px;
}

.comment-card {
    margin:0;
    margin-bottom: 6px;
    background-color: hsl(312, 19%, 95%);
    padding: 5px;
}

.comment-card h4 {
    margin-top: 2px;
    font-size: clamp(12.8px, 1.2vw, 80px);
}

.comment-body {
    font-size: clamp(12.5px, 1vw, 80px);
}

.comment-card p {
    text-align: left;
}

.comment-card h5 {
    font-size: clamp(12.8px, 1.5vw, 80px);
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-card button { 
    font-size: clamp(12.4px, 1vw, 80px);
}