textarea {
    width: 90%;
    height: 100px;
    text-align: start; 
    padding: 4px;
    padding-top: 2px;
    border: 2px solid;
    font-size: clamp(12.8px, 1.2vw, 80px);
}


.comment-adder {
    display: flex;
    flex-direction: column;
}

