@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Gloock&display=swap');


h1 {
    display: inline;
    align-content: center;
    font-size:10vw;
    font-family: 'Climate Crisis', cursive;
    color: #b580a0;
    margin-right: 0;
    margin-left: 0;
}

#nc{
    font-family: 'Climate Crisis', cursive;
}

#news {
    color: black;
    font-style: oblique;
}