.navBar-container {
    background-color: #f4ecf2;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

#navBar-button {
    padding:5px;
    border-radius: 15px;
    border-color: #A1708D;
    font-size: clamp(14px, 2vw, 50px);
    color: #8d4872;
    
}