@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

* {
  text-align: center;
  font-family: 'Gloock', serif;
  font-weight: lighter;
}

button {
  background-color: black;
  color: white;
  border: 0;
  margin: 1px;
  font-size: clamp(11.8px, 1.5vw, 80px);
}

